.home-page {
    width: 100%;
    min-height: 100%;
    background-color: black;
    color: white;
    @include flexColumn;
    .images-logos {
        display: flex;
        margin: 5em 0 2em;
    }
    .logo {
        width: 5em;
        height: 5em;
        margin: 0 1em;
        img {
            @include imageFit;
        }
    }
    a {
        color: white;
        font-weight: bold;
        text-decoration: underline;
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
        margin: 1em 0;
    }
    li {
        font-size: 1.5em;
        margin: .5em
    }
    nav {
        @include flexCenter;
        width: 70%;
        margin-top: 3em
    }
    ul {
        @include flexCenter;
        flex-wrap: wrap;
    }
}