.meteo-page {
    width: 100%;
    min-height: 100%;
    @include flexColumn;
    background: linear-gradient(0deg,#0586ff, #9edaff);
    &.middle-sky {
        background: linear-gradient(0deg,#a3d9ef, #8a8a8a);
    }
    &.dark-sky {
        background: linear-gradient(0deg,#b3b3b3, #545454);
    }
    .position {
        position: absolute;
        top: 1em;
        right: 1em;
        display: flex;
        align-items: center;
        p {
            margin-right: 1em;
        }
        form {
            position: absolute;
            display: flex;
            align-items: center;
            bottom: -2em;
            right: 0;
        }
        input {
            margin: 0 1em 0 .5em;
            width: 5em;
        }
    }
    .submit {
        border: none;
        background-color: inherit;
        cursor: pointer;
        &::before {
            @include icon('\f08b',1em);
        }
    }
    .alert-btn {
        position: absolute;
        left: .8em;
        top: .8em;
        border: none;
        background-color: initial;
        &::before {
            @include icon('\f071',2em);
            color: rgb(234, 0, 0);
            filter: drop-shadow(0 0 2px white);
            animation: flashing-text .6s alternate infinite;
        }
    }
    .alert-window {
        position: absolute;
        width: 80%;
        height: 80%;
        background-color: #c50000;
        z-index: 15;
        border: solid white;
        border-radius: 2em;
        top: 4em;
        padding: 2em;
        overflow: scroll;
    }
    .alert {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        h3 {
            color: white;
            font-size: 1.5em;
        }
        p {
            color: white;
            margin: .3em 0;
        }
        .alert-descr {
            font-size: 1.2em;
        }
    }
    .close-alert {
        position: absolute;
        top: 1em;
        right: 1em;
        background-color: initial;
        border: none;
        padding: 0;
        &::before {
            @include icon('\f057',2em);
            color: white;
        }
    }
    .current-btn {
        padding: .1em;
        width: 3em;
        //height: 1.5em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        .inside {
            width: 1.3em;
            height: 1.3em;
            background-color: black;
            border-radius: 50%;
            transition: transform .5s;
        }
        &.custom .inside {
            transform: translateX(1.2em);
        }
    }
    .api-form {
        position: absolute;
        left: 4em;
        top: 1em;
        input {
            margin: 0 .2em 0 .5em;
            padding: .1em .3em;
        }
    }
    .meteo-section {
        position: relative;
        display: flex;
        margin-top: 15vh;
    }
    .meteo-container {
        position: relative;
        z-index: 5;
        width: 20em;
        height: 22em;
        background-color: #158de3;
        border-radius: 2em;
        border: solid;
        overflow: hidden;
        .infos {
            color: white;
            @include flexColumn;
            p {
                font-size: 1em;
                margin-bottom: .6em;
                @include textShadow;
            }
            .temp {
                font-size: 1.5em;
            }
        }
    }
    .plus-btn {
        position: absolute;
        top: .8em;
        right: .8em;
        z-index: 10;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        @include flexCenter;
        &::before {
            @include icon('\2b',1em);
        }
        &.less::before {
            @include icon('\f068',1em);
        }
    }
    .more-infos {
        width: 0;
        height: 22em;
        opacity: 0;
        background-color: #00d0ff;
        border-radius: 2em;
        border: solid rgb(0, 0, 199);
        transition: .5s;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h2 {
            font-size: 1.3em;
            margin-bottom: .5em;
        }
        span {
            font-size: .9em;
            font-weight: bold;
        }
        p {
            font-size: 1.5em;
            margin: .2em 0;
        }
        &.visible {
            transform: translateX(0%);
            width: 20em;
            opacity: 1;
            padding: 2em 1em;
        }
    }
    .picto-container {
        @include flexCenter;
        height: 50%;
        img {
            @include imageFit;
        }
    }
    .previsions-btn {
        cursor: pointer;
        position: absolute;
        bottom: .7em;
        right: 1.8em;
        display: flex;
        align-items: center;
        &::after {
            @include icon('\f150',1.5em);
            color: white;
            filter: drop-shadow(1px 1px 2px black);
        }
        p {
            font-size: .8em;
            color: white;
            margin-right: .5em;
        }
        &.less::after {
            transform: rotate(180deg);
        }
    }
    .previsions-container {
        background-color: #0c339e;
        color: white;
        display: flex;
        width: fit-content;
        transform: translateY(-5em);
        opacity: 0;
        scale: .5;
        transition: .8s;
        border: solid .2em;
        border-radius: 1em;
        @include boxShadow;
        &.visible {
            opacity: 1;
            transform: translateY(0);
            scale: 1;
        }
    }
    .temp-container {
        margin: 0 .5em;
        @include flexColumn;
        border-right: solid .2em;
        padding: 1em .8em 1em 0;
        &:last-child {
            margin-right: 0;
            border-right: none;
        }
        
    }
    .icon-mini {
        width: 3em;
        height: 3em;
        img {
            @include imageFit;
        }
    }
    .days-hours {
        position: absolute;
        left: 2em;
        bottom: .7em;
        min-width: 5em;
    }
    @include portrait-version {
        .temp-container {
            font-size: .5em;   
        }
        .meteo-section {
            flex-direction: column;
        }
        .more-infos {
            width: 20em;
            height: 0;
            transform: translate(0%,-100%);
            p,h2 {
                font-size: 1.1em;
            }
            &.visible {
                transform: translate(0%,0%);
                height: 18em;
            }
        }
    }
    @include mobile-version {
        .position {
            top: 3em;
        }
    }
    .check-section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background-color: #fff;
        padding: 4em;
        p {
            font-size: 2em;
        }
    }
}