button {
    border-radius: .4em;
    padding: .2em .5em;
}

.open-close {
    position: absolute;
    right: 1em;
    top: .1em;
}

.back-home {
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
    a::before {
        @include icon('\f3e5',2em);
        color: black;
    }
}

.slider-page .arrow {
    cursor: pointer;
    z-index: 5;
    background-color: black;
    border: solid .15em;
    @include flexCenter;
    padding: .5em .7em;
    border-radius: 50%;
    &::before {
        color: white;
        @include icon('\f054',2em);
        filter: drop-shadow(0px 0px 2px black);
    }
    &.left::before {
        @include icon('\f053',2em);
    }
    margin: 0 1.5vw;
    //transition: opacity .4s;
    &:hover {
        //opacity: .7;
        background-color: #474747;
    }
}