@keyframes anim-left {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes anim-right {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing-text {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }